
<div class="inside scrolling">
    
    <h3>Notification</h3>
    <hr class="border">
    <div *ngIf="!(pageNumber != totalPages) || !(totalElements === 0)">
        <p>Toplam {{notifications.length}} adet bildiriminiz vardır.</p>
        <a (click)="allDelete()" class="c-pointer custom-link" >Tümünü sil</a>
        <a (click)="allRead()" class="c-pointer custom-link" >Tümünü okundu say</a>
    </div>
    <div>
        <p>Bildiriminiz bulunmamaktadır.</p>
    </div>
    <div *ngFor="let notification of notifications;index as i;">
        <div class="notification" [ngClass]="{'is-read':!notification.is_Read, 'c-pointer':notification.link!='empty'}" >
            <div class="f-10" (click)="openNotification(notification,i)">
                <img src="/assets/img/github.svg" width="50px" height="50px" alt="">
            </div>
            <div class="f-80" (click)="openNotification(notification,i)">
                <div>
                    <b>{{notification.title}}</b>
                </div>
                <div style="font-size: 16px; margin:5px 0 5px 0;">
                    {{notification.message}}
                </div>
                <div style="font-size: 14px;float: right;color: #1e1e1e;">
                    <span>{{notification.created_Date | date}}</span>
                    <span *ngIf="notification?.modified_Date && notification.created_Date"> - </span>
                    <span>{{notification.modified_Date | date}}</span>
                </div>
            </div>
            
            <div class="f-5">
                <img src="/assets/img/x.svg" width="12px" height="12px" (click)="deleteNotification(notification.id,i)" alt="">
                <div class="dot" *ngIf="!notification.is_Read"></div>
            </div>
            
        </div>
    </div>  
    <div style="text-align: center;" *ngIf="pageNumber != totalPages && totalPages!=0">
        <button class="btn-panel" (click)="increasePageNumber()">Daha fazla yükle</button>
    </div>
    
</div>