.publisher {
    display: flex;
    flex-direction: row;
    
}
.publisher-img img {
    border-radius: 50%;
    border: 1px;
    border: 3px solid #FFDD00;
}
.publisher-info {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.publisher-info h1 {
    color: #1e1e1e;
    font-size: 14px;
    margin:5px 0 0 0;
    padding: 0;
}
.publisher-info span {
    color: gray;
    font-size: 14px;
    margin:5px 0 0 0;
    padding: 0;
}