<div class="row">
  <div class="col-md-9 mt-5 mx-auto">
    <div class="row">
      <div class="col-md-4">
        <input type="text" class="form-control" id="search" placeholder="Arama yap" aria-describedby="emailHelp">
      </div>
      <div class="col-md-2 ">
        <input type="date" class="form-control d-inline-block" id="search" placeholder="Arama yap" aria-describedby="emailHelp">
      </div>
      <div class="col-md-2">
        <input type="date" class="form-control d-inline-block" id="search" placeholder="Arama yap" aria-describedby="emailHelp">
      </div>
      <div class="col-md-2">
        <input type="date" class="form-control d-inline-block" id="search" placeholder="Arama yap" aria-describedby="emailHelp">
      </div>
      <div class="col-md-1">
        <select class="form-select">
          <option selected value="1">10</option>
          <option value="2">20</option>
          <option value="3">30</option>
          <option value="3">40</option>
          <option value="3">50</option>
          <option value="3">60</option>
          <option value="3">70</option>
          <option value="3">80</option>
          <option value="3">90</option>
          <option value="3">100</option>
          <option value="3">250</option>
          <option value="3">500</option>
          <option value="3">750</option>
          <option value="3">1000</option>
        </select>      
      </div>
      <div class="col-md-1">
        <button class="btn btn-outline-primary">Ara</button>
      </div>
    </div>
  </div>
  <div class="w-100 mt-5"></div>
  <div class="col-md-9 mx-auto ">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sayfa</th>
            <th scope="col">Görüntülenme Sayısı</th>
            <th scope="col">Farklı Sayfa Görüntüleme Sayısı</th>
            <th scope="col">Sayfada Geçirilen Ortalama Süre</th>
            <th scope="col">Giriş Sayısı</th>
            <th scope="col">Hemen Çıkma Oranı</th>
            <th scope="col">Çıkış Yüzdesi</th>
            <th scope="col">Sayfa Değeri</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>/register</td>
            <td>2108</td>
            <td>605</td>
            <td>00.01.39</td>
            <td>549</td>
            <td>%52,64</td>
            <td>%23,46</td>
            <td>$0.00</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>/login</td>
            <td>2108</td>
            <td>605</td>
            <td>00.01.39</td>
            <td>549</td>
            <td>%52,64</td>
            <td>%23,46</td>
            <td>$0.00</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>/article/1023</td>
            <td>2108</td>
            <td>605</td>
            <td>00.01.39</td>
            <td>549</td>
            <td>%52,64</td>
            <td>%23,46</td>
            <td>$0.00</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>/article/204</td>
            <td>2108</td>
            <td>605</td>
            <td>00.01.39</td>
            <td>549</td>
            <td>%52,64</td>
            <td>%23,46</td>
            <td>$0.00</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-md-9 mx-auto">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>