<div class="inside scrolling">
    <h3 [translate]="'menu.terms'">Terms of Policy</h3>
    <hr class="border">
    <p>
        Bütün isteğimle ve özgür bir irademle kayafirat.com internet sitesinde bulunan 
        tüm bilgilerimin silinmesini ve kayıtlı her bir byte parçacığına kadar yok edilmesini taleb ediyorum.
        Anlayarak ve kabul ederekten, hesabımın tamamen silinmesini onaylıyorum.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, qui voluptates voluptate neque aliquam 
        amet sapiente a nostrum fugit similique in labore, ab doloremque, corporis veniam quos autem rerum aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus impedit voluptates tempore 
        neque deserunt facere asperiores veritatis distinctio iure quo ad perspiciatis exercitationem officiis dolores 
        libero, blanditiis vel voluptatum!
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, qui voluptates voluptate neque aliquam 
        amet sapiente a nostrum fugit similique in labore, ab doloremque, corporis veniam quos autem rerum aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus impedit voluptates tempore 
        neque deserunt facere asperiores veritatis distinctio iure quo ad perspiciatis exercitationem officiis dolores 
        libero, blanditiis vel voluptatum!
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, qui voluptates voluptate neque aliquam 
        amet sapiente a nostrum fugit similique in labore, ab doloremque, corporis veniam quos autem rerum aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus impedit voluptates tempore 
        neque deserunt facere asperiores veritatis distinctio iure quo ad perspiciatis exercitationem officiis dolores 
        libero, blanditiis vel voluptatum!
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, qui voluptates voluptate neque aliquam 
        amet sapiente a nostrum fugit similique in labore, ab doloremque, corporis veniam quos autem rerum aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus impedit voluptates tempore 
        neque deserunt facere asperiores veritatis distinctio iure quo ad perspiciatis exercitationem officiis dolores 
        libero, blanditiis vel voluptatum!
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, qui voluptates voluptate neque aliquam 
        amet sapiente a nostrum fugit similique in labore, ab doloremque, corporis veniam quos autem rerum aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus impedit voluptates tempore 
        neque deserunt facere asperiores veritatis distinctio iure quo ad perspiciatis exercitationem officiis dolores 
        libero, blanditiis vel voluptatum!
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, qui voluptates voluptate neque aliquam 
        amet sapiente a nostrum fugit similique in labore, ab doloremque, corporis veniam quos autem rerum aperiam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus impedit voluptates tempore 
        neque deserunt facere asperiores veritatis distinctio iure quo ad perspiciatis exercitationem officiis dolores 
        libero, blanditiis vel voluptatum!
    </p>
</div>