<div class="container">
    <div class="box mt-50">
        <div class="custom-font">Forgot Password ?</div>
        <p class="custom-p">
            Hey ! Write your email address that you register before then we will send a password reset link. 
        </p>
        <div class="mt-30" style="text-align: center;">
            <input type="email" placeholder="tonystart@example.com" [(ngModel)]="email">
            <button class="btn-panel"  style="float:none;display: inline-block;" (click)="sendResetPassword()">
                Send me Link
            </button>
        </div>
    </div>
    <div style="width: 100%;height: 100px;"></div>
</div>