<div class="row p-4">
    <h3>Tüm Bildirimler</h3>

    <div class="col-md-9  mx-auto">
        <div class="row">
            <div class="col-md-9 mt-5">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" id="search" placeholder="Arama yap" aria-describedby="emailHelp">
                </div>
                <div class="col-md-2">
                  <select class="form-select">
                    <option selected value="1">10</option>
                    <option value="2">20</option>
                    <option value="3">30</option>
                    <option value="3">40</option>
                    <option value="3">50</option>
                    <option value="3">60</option>
                    <option value="3">70</option>
                    <option value="3">80</option>
                    <option value="3">90</option>
                    <option value="3">100</option>
                    <option value="3">250</option>
                    <option value="3">500</option>
                    <option value="3">750</option>
                    <option value="3">1000</option>
                  </select>      
                </div>
                <div class="col-md-1">
                  <button class="btn btn-outline-primary">Ara</button>
                </div>
              </div>
            </div>
            <div class="w-100 mt-5"></div>
            <div class="col-md-12 ">
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID</th>
                      <th scope="col">User</th>
                      <th scope="col">Yorum</th>
                      <th scope="col">Konu</th>
                      <th scope="col">Beğenme</th>
                      <th scope="col">Güncelleme</th>
                      <th scope="col">Oluşturulma</th>
                      <th scope="col">Sil</th>
                      <th scope="col">Güncelle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>2345</td>
                      <td>firat.kaya</td>
                      <td>TEST YORUM</td>
                      <td>TEST KONU</td>
                      <td>1453</td>
                      <td>2021/12/12 19:04:12</td>
                      <td>2021/12/12 21:17:48</td>
                      <td>
                          <button class="btn btn-danger btn-sm">
                              Sil
                          </button>
                      </td>
                      <td>
                        <button class="btn btn-primary btn-sm">
                            Güncelle
                        </button>
                    </td>
                    </tr>
                  </tbody>
              </table>
            </div>

            <div class="col-md-9 ">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>

          </div>
    </div>
</div>