<div class="col-12 ">
    <div class="mobile-category">
        <h2>{{postDetail?.post?.title}}</h2>
    </div>
    <hr class="border">
    <app-publisher [body]="postDetail?.body" [createdDate]="postDetail?.post.createdDate"></app-publisher>
    <div class="kayafirat-font post-detail ck-content" [innerHTML]="sanitize(postDetail?.body)"> </div>
</div>
<div class="tags mt-50" *ngIf="postDetail?.post?.category?.length > 0">
    Tags :
    <span *ngFor="let category of postDetail?.post.category" style="margin:3px" >
        <span class="tag"  [ngStyle]="{'background-color':category.color,'color':category.textColor }" >{{category.name}}</span>
    </span>
</div>
<hr class="mt-10">
<div class="">
    <div class="info-stats">
        <span>{{postDetail?.post.view}}  <span [translate]="'comment.view'"> Views </span>  </span>|
        <span>{{totalComment}} <span [translate]="'comment.title1'"> Comment </span> </span>|
        <span>{{postDetail?.post.createdDate | date}}</span>
    </div>
    <div class="info-stats">
        <a target="_blank" href="http://linkedin.com/in/firatkaya1" >
            <img src="/assets/img/linkedin.svg" width="30px" height="30px" alt="">
        </a>
        <a target="_blank" href="http://twitter.com/firatkaya1" >
            <img src="/assets/img/twitterl.svg" width="30px" height="30px" alt="">
        </a>
        <a target="_blank" href="http://github.com/firatkaya1">
            <img src="/assets/img/github.svg" width="30px" height="30px" alt="">
        </a>
    </div>
</div>