.container {
    position: absolute;
    left: 25%;
    right: 25%;
    height: 100%;
    scroll-behavior: smooth;
}
.mt-50 {
    margin-top: 50px;
}
button { 
    margin: 30px auto 0 auto;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #FFDD00;
    border: none;
    border-radius: 10px;
    font-family: 'Inconsolata', monospace;
    display: block;
}
button:hover { 
    background-color: #FFD000;
    color: #4f65dd;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:focus{
    outline: 0;
}
.up {
    width: 40px;
    height: auto;
    background-color: #FFDD00;
    position: fixed;
    bottom: 70px;
    right: 100px;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    cursor:pointer;
    opacity: 0.6;
    transition: 0.3s;}
.up:hover {
    background-color:#FFD000 ;
    opacity: 1;
}
@media only screen and (max-width: 600px) {
    .container{
        left: 0;
        right: 0;
        padding: 10px;
    }
    .up {
        bottom: 50px;
        right: 20px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        left: 30%;
        right: 30%;
    }
}