<div class="container">
    <div class="box mt-50">
        <div class="custom-font">Unsubscribe</div>
        <p class="custom-p">
            Hey! I am very sorry if I bothered you. I had just wanted to share my small experience with other people. Anyway,  please click the yellow button. I hope you enjoyed my website. 
        </p>
        <div class="mt-30" style="text-align: center;">
            <button class="btn-panel" (click)="unsubscribe()">
                Unsubscribe
            </button>
        </div>
    </div>
    
    <div class="test" style="width: 100%;height: 100px;"></div>
</div>