<div class="row p-4">
    {{ posts }}
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 mb-4">
                <label class="form-label">Hazır Yorum Template</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Yorum Seç</option>
                    <option value="1">Hoşgeldin Bildirimi</option>
                    <option value="2">Test</option>
                    <option value="3">Test2</option>
                  </select>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12 mb-4">
                <label class="form-label">Konu Seçiniz</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Konu Seç</option>
                    <option value="1">Hoşgeldin Bildirimi</option>
                    <option value="2">Test</option>
                    <option value="3">Test2</option>
                  </select>
            </div>
            <div class="col-md-12 mb-4">
                <label class="form-label">Kullanıcı Seçiniz</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Kullanıcı Seç</option>
                    <option value="1">Hoşgeldin Bildirimi</option>
                    <option value="2">Test</option>
                    <option value="3">Test2</option>
                  </select>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
                <label class="form-label">Yorum</label>
                <textarea  class="form-control" placeholder="Yorumunuz" style="height: 200px;"></textarea>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12 mt-4">
                <button class="btn float-end btn-success">
                    Düzenle
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <label class="form-label">Kullanıcı Seç</label>
        <input type="text" class="form-control mb-4" placeholder="Kullanıcı Seç">
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
              firat.kaya
              <a class="float-end"><i class="bi bi-x custom-icon"></i></a>
            </div>
            <div class="list-group-item list-group-item-action">
                test.account
                <a  class="float-end"><i class="bi bi-x custom-icon"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="comment mt-20" >
            <div class="row" >
                <div class="f-10">
                    <div class="user-info" >
                        <div>
                            <img class="user-img" src="/assets/img/profile.svg"  width="60x" height="60px"  alt="user-profile-photo">
                        </div>
                        <div class="ml-20">
                            <h2>firat.kaya	&nbsp;</h2>
                            <span>07 January 2018</span>
                        </div>
                        <div class="clap">
                            <div class="clap-img"></div>
                            <a>2015</a>
                        </div>
                    </div>
                    <hr style="width: 98%;float: left;">
                    <div class="comment-detail mt-20">
                        buraya message body'si gelir.
                    </div>
                    <div>
                        <span class="date">
                            <span>07 January 2018</span>&nbsp;
                            <span>07 January 2018</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>