
<div class="row p-4">
    <div class="col-md-4">
        <img src="/assets/img/profile.svg" width="250px" height="250px" class="img-thumbnail" alt="...">
        <input type="file" class="form-control w-50 mt-4" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="col-md-6">
        <input type="email" class="form-control w-50" id="email" placeholder="Kullanıcı Ara" >
    </div>
    <div class="col-md-2 ">
        <button class="btn btn-outline-primary float-end ">Kaydet</button>
        <div class="float-end">&nbsp;&nbsp;&nbsp; </div>
        <button class="btn btn-outline-danger float-end ">Temizle</button>
    </div>
</div>

<div class="row p-4">
    <div class="col-md-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email adresi" aria-describedby="emailHelp">
    </div>
    <div class="col-md-3">
        <label for="exampleInputEmail1" class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" id="email" placeholder="Kullanıcı Adı" aria-describedby="emailHelp">
    </div>
    <div class="col-md-3">
        <label for="exampleInputEmail1" class="form-label">Şifre</label>
        <input type="text" class="form-control" id="email" placeholder="Şifre " aria-describedby="emailHelp">
    </div>
    <div class="col-md-3">
        <label for="exampleInputEmail1" class="form-label">İletişim Adresi</label>
        <input type="text" class="form-control" id="email" placeholder="İletişim Adresi" aria-describedby="emailHelp">
    </div>
    <div class="w-100 mt-3 mb-3"></div>
    <div class="col-md-3">
        <label for="exampleInputEmail1" class="form-label">Github address</label>
        <input type="text" class="form-control" id="email" placeholder="Github adresi" aria-describedby="emailHelp">
    </div>
    <div class="col-md-3">
        <label for="exampleInputEmail1" class="form-label">Linkedi address</label>
        <input type="text" class="form-control" id="email" placeholder="Linkedin address" aria-describedby="emailHelp">
    </div>
    <div class="col-md-3">
        <label for="exampleInputEmail1" class="form-label">Hesap Durumu</label>
        <input type="text" class="form-control" id="email" placeholder="Hesap Durumu" aria-describedby="emailHelp">
    </div>
    <div class="col-md">
        <label for="exampleInputEmail1" class="form-label">Doğum Tarihi</label>
        <input type="date" class="form-control" id="email" placeholder="Doğum Tarihi" aria-describedby="emailHelp">
    </div>
    <div class="col-md">
        <label for="exampleInputEmail1" class="form-label">Kayıt Tarihi</label>
        <input type="date" class="form-control" id="email" placeholder="Kayıt Tarihi" aria-describedby="emailHelp">
    </div>
</div>


<div class="row p-4 mt-4">
    <div class="col-md-4">
        <h3>Bildirim Ayarları</h3>
        <div class="row">
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                    Hesabıma 3'den fazla deneme yapıldığında bana bildirilmesini istiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2">
                    Her giriş yapıldığında bildirim almak istiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">
                    Yeni bir yazı eklendiğinde bildirim almak istiyorum.
                </label>
            </div> 
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                <label class="form-check-label" for="flexCheckDefault4">
                    Her giriş yapıldığında bildirim almak istiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                <label class="form-check-label" for="flexCheckDefault5">
                    Şifre değişikliğinde bildirim almak istiyorum.
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h3>Mail Ayarları</h3>
        <div class="row">
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                    Hesabıma 3'den fazla deneme yapıldığında bana bildirilmesini istiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2">
                    Her giriş yapıldığında bildirim almak istiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">
                    Yeni bir yazı eklendiğinde bildirim almak istiyorum.
                </label>
            </div> 
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                <label class="form-check-label" for="flexCheckDefault4">
                    Her giriş yapıldığında bildirim almak istiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                <label class="form-check-label" for="flexCheckDefault5">
                    Şifre değişikliğinde bildirim almak istiyorum.
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h3>Görünürlük Ayarları</h3>
        <div class="row">
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault9">
                <label class="form-check-label" for="flexCheckDefault9">
                    İletişim adresimin görünmesini istemiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault10">
                <label class="form-check-label" for="flexCheckDefault10">
                    Doğum tarihimin görünmesini istemiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault11">
                <label class="form-check-label" for="flexCheckDefault11">
                    Github adresimin görünmesini istemiyorum.
                </label>
            </div> 
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault12">
                <label class="form-check-label" for="flexCheckDefault12">
                    Her giriş yapıldığında bildirim almak istiyorum.
                </label>
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault13">
                <label class="form-check-label" for="flexCheckDefault13">
                    Linkedin adresimin görünmesini istemiyorum.
                </label>
            </div>
        </div>
    </div>
</div>


<div class="row p-4 mt-4">
    <div class="col-md-12">
        <h3>Kullanıcı Yorumları </h3>
    </div>
    <div class="col-md-9  mx-auto">
        <div class="row">
            <div class="col-md-9 mt-5">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" id="search" placeholder="Arama yap" aria-describedby="emailHelp">
                </div>
                <div class="col-md-2">
                  <select class="form-select">
                    <option selected value="1">10</option>
                    <option value="2">20</option>
                    <option value="3">30</option>
                    <option value="3">40</option>
                    <option value="3">50</option>
                    <option value="3">60</option>
                    <option value="3">70</option>
                    <option value="3">80</option>
                    <option value="3">90</option>
                    <option value="3">100</option>
                    <option value="3">250</option>
                    <option value="3">500</option>
                    <option value="3">750</option>
                    <option value="3">1000</option>
                  </select>      
                </div>
                <div class="col-md-1">
                  <button class="btn btn-outline-primary">Ara</button>
                </div>
              </div>
            </div>
            <div class="w-100 mt-5"></div>
            <div class="col-md-9 ">
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Sayfa</th>
                      <th scope="col">Görüntülenme Sayısı</th>
                      <th scope="col">Farklı Sayfa Görüntüleme Sayısı</th>
                      <th scope="col">Sayfada Geçirilen Ortalama Süre</th>
                      <th scope="col">Giriş Sayısı</th>
                      <th scope="col">Hemen Çıkma Oranı</th>
                      <th scope="col">Çıkış Yüzdesi</th>
                      <th scope="col">Sayfa Değeri</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>/register</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>/login</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>/article/1023</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>/article/204</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                  </tbody>
              </table>
            </div>

            <div class="col-md-9 ">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
    </div>
</div>

<div class="row p-4 mt-4">
    <div class="col-md-12">
        <h3>Kullanıcı Beğendiği Yorumlar</h3>
    </div>
    <div class="col-md-9  mx-auto">
        <div class="row">
            <div class="col-md-9 mt-5">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" id="search" placeholder="Arama yap" aria-describedby="emailHelp">
                </div>
                <div class="col-md-2">
                  <select class="form-select">
                    <option selected value="1">10</option>
                    <option value="2">20</option>
                    <option value="3">30</option>
                    <option value="3">40</option>
                    <option value="3">50</option>
                    <option value="3">60</option>
                    <option value="3">70</option>
                    <option value="3">80</option>
                    <option value="3">90</option>
                    <option value="3">100</option>
                    <option value="3">250</option>
                    <option value="3">500</option>
                    <option value="3">750</option>
                    <option value="3">1000</option>
                  </select>      
                </div>
                <div class="col-md-1">
                  <button class="btn btn-outline-primary">Ara</button>
                </div>
              </div>
            </div>
            <div class="w-100 mt-5"></div>
            <div class="col-md-9 ">
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Sayfa</th>
                      <th scope="col">Görüntülenme Sayısı</th>
                      <th scope="col">Farklı Sayfa Görüntüleme Sayısı</th>
                      <th scope="col">Sayfada Geçirilen Ortalama Süre</th>
                      <th scope="col">Giriş Sayısı</th>
                      <th scope="col">Hemen Çıkma Oranı</th>
                      <th scope="col">Çıkış Yüzdesi</th>
                      <th scope="col">Sayfa Değeri</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>/register</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>/login</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>/article/1023</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>/article/204</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                  </tbody>
              </table>
            </div>

            <div class="col-md-9 ">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
    </div>
</div>

<div class="row p-4 mt-4">
    <div class="col-md-12">
        <h3>Kullanıcı Favori Konuları </h3>
    </div>
    <div class="col-md-9  mx-auto">
        <div class="row">
            <div class="col-md-9 mt-5">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" id="search" placeholder="Arama yap" aria-describedby="emailHelp">
                </div>
                <div class="col-md-2">
                  <select class="form-select">
                    <option selected value="1">10</option>
                    <option value="2">20</option>
                    <option value="3">30</option>
                    <option value="3">40</option>
                    <option value="3">50</option>
                    <option value="3">60</option>
                    <option value="3">70</option>
                    <option value="3">80</option>
                    <option value="3">90</option>
                    <option value="3">100</option>
                    <option value="3">250</option>
                    <option value="3">500</option>
                    <option value="3">750</option>
                    <option value="3">1000</option>
                  </select>      
                </div>
                <div class="col-md-1">
                  <button class="btn btn-outline-primary">Ara</button>
                </div>
              </div>
            </div>
            <div class="w-100 mt-5"></div>
            <div class="col-md-9 ">
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Sayfa</th>
                      <th scope="col">Görüntülenme Sayısı</th>
                      <th scope="col">Farklı Sayfa Görüntüleme Sayısı</th>
                      <th scope="col">Sayfada Geçirilen Ortalama Süre</th>
                      <th scope="col">Giriş Sayısı</th>
                      <th scope="col">Hemen Çıkma Oranı</th>
                      <th scope="col">Çıkış Yüzdesi</th>
                      <th scope="col">Sayfa Değeri</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>/register</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>/login</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>/article/1023</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>/article/204</td>
                      <td>2108</td>
                      <td>605</td>
                      <td>00.01.39</td>
                      <td>549</td>
                      <td>%52,64</td>
                      <td>%23,46</td>
                      <td>$0.00</td>
                    </tr>
                  </tbody>
              </table>
            </div>

            <div class="col-md-9 ">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
    </div>
</div>