<div class="inside" >
    <h3 [translate]="'menu.account'">Account</h3>
    <hr class="border">
    <p>
        Bütün isteğimle ve özgür bir irademle kayafirat.com internet sitesinde bulunan 
        tüm bilgilerimin silinmesini ve kayıtlı her bir byte parçacığına kadar yok edilmesini taleb ediyorum.
        Anlayarak ve kabul ederekten, hesabımın tamamen silinmesini onaylıyorum.
    </p>
    <button class="btn-panel custom-panel" [translate]="'menu.delete'">
        Hesabımı sil
    </button>
</div>