.container {
    position: absolute;
    left: 25%;
    right: 25%;
    height: 100%;
}
.box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
input,textarea {
    margin-top: 10px;
    display: inline-block;
    height: 25px;
    width: 50%;
    font: 19px 'Inconsolata', monospace;
    border:1px solid #9A9A9A;
    border-radius: 5px;
    padding: 5px;
}
input:focus,textarea:focus {
    outline: 0;
}
.mt-30 {
    margin-top: 30px;
}
.custom-panel {
    float: none;
    display: inline-block!important;
}
.btn-panel { 
    margin-right: 20px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #FFDD00;
    border: none;
    border-radius: 10px;
    font-family: 'Inconsolata', monospace;
}
.btn-panel:hover { 
    background-color: #FFD000;
    color: #4f65dd;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}
.btn-panel:focus
{
    outline: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.mt-50 {
    margin-top: 50px;
}
.is-invalid {
    border:1px solid rgb(226, 29, 29)!important;
    box-shadow: 0 4px 6px 0 rgba(255, 0, 0, 0.2), 0 6px 10px 0 rgba(255, 0, 0, 0.19);
}
.is-valid {
    border:1px solid #34c222;
    box-shadow: 0 4px 6px 0 rgba(42, 255, 95, 0.2), 0 6px 10px 0 rgba(72, 255, 0, 0.19);
}
.mt-2 {
    margin-top: 1em;
}
.red {
 color: rgb(226, 29, 29);   
}
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        left: 0;
        right: 0;
        margin: 10px;
    }
    input,textarea {
        width: 90%;
    }
}